.search-input {
  border-radius: 0.5em;
  border: 1px solid black;
  margin-top: 1.25em;
  padding-block: 0.65em;
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.search-container {
  padding: 0 0.75em 0.75em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.search-container form {
  flex-basis: 100%;
  max-width: 15em;
}