.app-aside {
  background-color:antiquewhite;
  position: relative;

}

.app-aside::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background-color: blue;
  top: 0;
  right: 0;
}

.heading-close {
  transform: translateX(-100%);
  transition: transform 500ms ease-in;
}

.heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1em;
}

.heading-logo {
  justify-self: flex-start;
}

.app-aside-nav {
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
}

.app-aside-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25em;
}

.app-aside-list li {
  font-weight: bold;
  cursor: pointer;
}


.app-aside-list li.active {
  border-radius: 0.25em;
  padding-left: 1.25em;
  font-weight: bold;
  background-color: blue;
  color: white;
}

.app-aside-list li.active a {
  text-decoration: none;
  color: white;
}

.app-aside-list-link {
  display: block;
  width: 100%;
  padding-left: 1.25em;
  height: 100%;
  padding-block: 0.5em;
  border-radius: 0.25em;
  text-decoration: none;
  color: black;
}

.app-aside-list-link.active {
  background-color: blue;
  color: white;
}

.app-aside-list-link:hover {
  background-color: blue;
  color: white;
}


